
\.vs/Project1/v15/\.suo

\.vs/Project1/v15/Browse\.VC\.db

\.vs/Project1/v15/ipch/AutoPCH/153ad42cb47f5bb0/THEGAME\.ipch

\.vs/Project1/v15/ipch/AutoPCH/1e40d3baa06614c4/PLAYER\.ipch

\.vs/Project1/v15/ipch/AutoPCH/37df0d7fad522e75/PIECE\.ipch

\.vs/Project1/v15/ipch/AutoPCH/53b28665a9aba564/KEYBOARDINPUT\.ipch

\.vs/Project1/v15/ipch/AutoPCH/726e1deb0bad1fff/ARGUMENTS\.ipch

\.vs/Project1/v15/ipch/AutoPCH/8de9f3cf40ccbf22/FILES\.ipch

\.vs/Project1/v15/ipch/AutoPCH/a73dcb4e88ab9ee7/KEYBOARDINPUT\.ipch

Project1/output\.txt

Project1/player1\.rps_board

Project1/x64/Debug/Arguments\.obj

Project1/x64/Debug/Files\.obj

Project1/x64/Debug/files\.obj\.enc

Project1/x64/Debug/io_utils\.obj

Project1/x64/Debug/keyBoardInput\.obj

Project1/x64/Debug/main\.obj

Project1/x64/Debug/Piece\.obj

Project1/x64/Debug/Player\.obj

Project1/x64/Debug/player\.obj\.enc

Project1/x64/Debug/Project1\.log

Project1/x64/Debug/Project1\.tlog/CL\.command\.1\.tlog

Project1/x64/Debug/Project1\.tlog/CL\.read\.1\.tlog

Project1/x64/Debug/Project1\.tlog/CL\.write\.1\.tlog

Project1/x64/Debug/Project1\.tlog/link\.command\.1\.tlog

Project1/x64/Debug/Project1\.tlog/link\.read\.1\.tlog

Project1/x64/Debug/Project1\.tlog/link\.write\.1\.tlog

Project1/x64/Debug/Project1\.tlog/Project1\.lastbuildstate

Project1/x64/Debug/TheGame\.obj

Project1/x64/Debug/thegame\.obj\.enc

Project1/x64/Debug/vc141\.idb

Project1/x64/Debug/vc141\.pdb

x64/Debug/Project1\.exe

x64/Debug/Project1\.ilk

x64/Debug/Project1\.pdb
